<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lesson Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="navbar :: navbar"></header>
<div class="container mt-4">
    <h2 th:text="'Lessons for ' + ${language}">Lessons</h2>

    <div class="list-group mt-3">
        <div class="list-group-item" th:each="lesson : ${lessons}">
            <h5 th:text="${lesson.title}">Lesson Title</h5>
            <p th:text="${lesson.description}">Lesson Description</p>
            <a class="btn btn-primary" th:href="@{'/langmate/test/' + ${lesson.id}}">Start Test</a>
        </div>
    </div>
</div>
</body>
</html>
